# Patterns to ignore when building packages.
# This supports shell glob patterns, relative paths and negated (!) patterns
# as per https://docs.helm.sh/chart_template_guide/#the-chart-file-structure

.DS_Store

# Common VCS dirs
.git/
.gitignore
.bzr/
.bzrignore
.hg/
.hgignore
.svn/

# Common backup files
*.swp
*.swo
*~
*.tmp
*.bak
*.orig

# Misc
*.md
